body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(207, 19%, 81%);
}
#tb{
    font-size: 1.25em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#faren{
    font-size: 1.5em;
}
#cel{
    font-size: 1.5em;
}
#bi{
    background-color: rgb(230, 243, 243);
    max-width: 350px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 45px;
    padding-left: 10px;
    padding-right: 20px;
    box-shadow: 15px;
}
#subbtn{
    cursor: pointer;
    padding: 5px 15px;
    font-size: 1.15em;
    font-weight: bold;
    background-color: blueviolet;
    color: aliceblue;

}
#subbtn:hover{
    background-color:  rgb(84, 49, 117);
}
#result{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75em;
    font-weight: bold;
}